# NOTE: Most C# code in this project is in LINQPad queries only.
#       So Infer# is actually scanning only a tiny fraction of the code.
name: Infer#

on:
  push:
  pull_request:
  schedule:
    # To more easily compare CodeQL and Infer# results.
    - cron: '15 11 * * 6'
  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false

    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up .NET
        uses: actions/setup-dotnet@v5

      - name: Build
        run: dotnet build

      - name: Run Infer#
        uses: microsoft/infersharpaction@v1.5
        id: runinfersharp
        with:
          binary-path: 'bin/Debug/net6'

      - name: Upload SARIF output to GitHub Security Center
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: infer-out/report.sarif

      - name: Infer# analysis results
        run: echo "${{ steps.runinfersharp.outputs.results }}"

      - name: Upload Infer# report as an artifact
        uses: actions/upload-artifact@v5
        with:
          name: report
          path: infer-out/report.txt
